*#
*~
Bitwarden
Rambox
dconf
pavucontrol.ini
pulse
retroarch
spotify
lazygit
neofetch
Code*
deluge
discord
htop
vlc
obs-studio
balena-etcher-electron
onlyoffice
Electron
GIMP
cef_user_data
gtk-3.0/bookmarks
unity3d
nautilus