*#
*~
Bitwarden
Rambox
dconf
pavucontrol.ini
pulse
retroarch
spotify
lazygit
neofetch
Code*
deluge
discord
htop
vlc
obs-studio
balena-etcher-electron
onlyoffice
Electron
GIMP
cef_user_data
gtk-3.0/bookmarks
unity3d
nautilus
whatsapp*
Caprine
GeoGebra
chromium
KADOKAWA
gtk-2.0
hugin.conf
siril
github-copilot
peazip
MuseScore
QtProject.conf
VirtualBox
gnome-control-center
Friture
Meltytech
ardour7
audacious
fmit
ghb
heroic
kdeglobals
kdenlive*
lapce-stable
legendary
menus
projectM
sonic-visualiser
